<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6c8f8d">  <td>21/04/21 15:56:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="homePage.basePageNavigation(java.lang.String,java.lang.String)[pri:0, instance:Academy.Final.homePage@4229bb3f]">basePageNavigation</td> 
  <td>main@155361948</td>   <td></td> </tr>
<tr bgcolor="6c8f8d">  <td>21/04/21 15:56:17</td>   <td>4658</td> <td>&nbsp;</td><td title="&lt;&lt;homePage.closedriver()[pri:0, instance:Academy.Final.homePage@4229bb3f]">&lt;&lt;closedriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@155361948</td>   <td></td> </tr>
<tr bgcolor="6c8f8d">  <td>21/04/21 15:56:10</td>   <td>-1975</td> <td>&nbsp;</td><td title="&gt;&gt;homePage.startDriver()[pri:0, instance:Academy.Final.homePage@4229bb3f]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@155361948</td>   <td></td> </tr>
</table>
